
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

/* l'étoile permet d'appliquer à tous les éléments */
*{
    padding:0;
    margin: 0;
    text-align: center;
    color: chartreuse;
    font-family: 'Handjet', cursive;
}

body{
    background-color: black;
}

button{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: black;
    border: 2px solid chartreuse;
    border-radius: 10px;
}

button:hover {
    background-color: chartreuse;
    color: black;
}

#board {
    text-align: center;
    width: 300px;
    height: 300px;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin: auto;
    padding: 10px;
}

.box{
    /* shape */
    width: 30%;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 10px;
    outline: solid #6e6e6e;

    /* alignement*/
    align-items: center;
    justify-content: center;
    display:flex;

    /* font*/
    font-size: 30px;
    font-weight: 700;
}

#playerIndicator{
    font-size: 30px;
    font-weight: 700;
}
